<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Alphafold Experiments" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Open+Sans:700,400">
    <script src="https://www.unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="font-sans bg-orange-50" hx-headers='{"X-CSRF-Token": "<%= form_authenticity_token %>"}'>
    <% flash.each do |type, msg| %>
      <%= tag.div class: "flash-message #{ type == "alert" ? "bg-red-500" : "bg-emerald-500" } text-white text-center py-1" do %>
        <%= type.upcase %>: <%= msg.html_safe %>
      <% end %>
    <% end %>
    <div id=container class="w-full">
      <% if current_user %>
        <div id=topbar class="pb-1">
          <%= render "layouts/topbar" %>
        </div>
        <div class="px-4 py-3">
          <%= yield %>
        </div>
      <% else %>
        <div class="flex items-center justify-center mt-50 dark:bg-gray-800">
          <%= button_to "/auth/google_oauth2", method: :get, data: { turbo: false }, class: "px-4 py-2 border flex gap-2 bg-white cursor-pointer border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150" do % do %>
            <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
            <span>Login with Google</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
